
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Homemade+Apple&display=swap');

*
{
    font-family: "Gamja Flower", sans-serif;
}

#hemal
{
  /* color:brown; */
  /* background-color: aqua; */
  max-width: 1100px;
  background-image:linear-gradient(0deg, rgb(148, 142, 142),transparent), url(../Asset/ifel.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: 30px;
  margin-left: auto;
  margin-right: auto; */
  height: 500px;
  padding: 100px 0;
  margin:30px auto;
}
h1{
    text-align: center;
    color:rgb(73, 17, 7);
    font-style: italic;
    /* border:; */
    
}
.btn{
    background-color: firebrick;
    padding: 8px 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* box-shadow:brown; */
    border:solid;
    border-radius: 4px;
    border-width:1px ;
    /* margin:10px auto; */
    /* margin: 100px auto; */
    text-align: center;
    font-size: 14px;
    font-family: "Homemade Apple", cursive;
    cursor: pointer;


}
.hi
{
    text-align: center;
    margin: 20px 0;
}
.btn:hover{
    background-color: aqua;
}